<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Files page</title>
</head>
<body>
<h2>Список файлов</h2>
<form action="/saveNewFile" method="post"
      enctype="multipart/form-data">
    <input type="file" name="sourceFilePath"/>
    <br/>
    <input type="submit" value="Upload File"/>
</form>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date created</th>
        </tr>
        <tr>
        <tr th:each="file : ${allFiles}">
            <td th:text="${file}">1</td>
        </tr>
    </table>
</body>
</html>