<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Files page</title>
</head>
<body>
<h2>Список файлов</h2>
<!--<form action="saveNewFile" method="post"-->
<!--      enctype="multipart/form-data">-->
<!--    <input type="file" name="sourceFilePath"/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Upload File"/>-->
<!--</form>-->
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date created</th>
        </tr>
        <tr>
        <tr th:each="file : ${allFiles}">
            <td th:text="${file}">1</td>
        </tr>

        <template id="all-files">
            <div>
                <div class="filters row">
                    <div class="form-group col-sm-3">
                        <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" requred/>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>File</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in filteredProducts">
                        <!-- tr v-for="product in products" -->
                        <!-- tr v-for="product in products | filterBy searchKey in 'name'" -->
                        <td>{{ one_file.id }}</td>
                        <td>
                            {{ one_file.file_name}}
                            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </template>

    </table>
</body>
</html>