<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
          http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <persistence-unit name="PhotoAnthropologyDB">
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://192.168.8.103:5432/photo_anthropology" />
            <property name="javax.persistence.jdbc.user" value="ksu" />
            <property name="javax.persistence.jdbc.password" value="ksu" />
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.format_sql" value="true" />
        </properties>
    </persistence-unit>

</persistence>
