<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.nsu.photo_anthropology.servlets.StartServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.nsu.photo_anthropology.servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupsTools</servlet-name>
        <servlet-class>com.nsu.photo_anthropology.servlets.GroupToolsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupsTools</servlet-name>
        <url-pattern>/GroupsTools</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>com.nsu.photo_anthropology.servlets.DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/DeleteGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>com.nsu.photo_anthropology.servlets.NewGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/AddGroup</url-pattern>
    </servlet-mapping>

</web-app>